port: 3000
db:
  host: localhost
  user: postgres
  name: siren_dev
  password: ""
  port: 5432
  sslmode: disable
cortex:
  address: http://localhost:9009
newrelic:
  enabled: false
  appname: siren
  license: ____LICENSE_STRING_OF_40_CHARACTERS_____
siren_service:
  host: http://localhost:3000
slack_app:
  client_id: 123.456
  client_secret: xyz
encryption_key: abcde
