    {{define "__alert_severity_prefix_emoji" -}}
      {{if ne .Status "firing" -}}
      :white_check_mark:
      {{- else if eq .CommonLabels.severity "CRITICAL" -}}
      :fire:
      {{- else if eq .CommonLabels.severity "WARNING" -}}
      :warning:
      {{- else -}}
      :question:
      {{- end}}
    {{- end}}
    {{ define "slack.pretext" -}}
      {{- template "__alert_severity_prefix_emoji" . }} [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
      {{- if eq .Status "resolved" }} ~[{{ .CommonLabels.severity | toUpper }}]~
      {{- else }} *[{{ .CommonLabels.severity | toUpper }}]*
      {{- end}} {{ .CommonLabels.alertname }}
    {{- end }}
    {{define "slack.color" -}}
    {{if eq .Status "firing" -}}
      {{if eq .CommonLabels.severity "WARNING" -}}
      warning
      {{- else if eq .CommonLabels.severity "CRITICAL" -}}
      danger
      {{- else -}}
      #439FE0
      {{- end -}}
      {{else -}}
      good
      {{- end}}
    {{- end}}
    {{ define "slack.title" -}}
      {{$first := true}}{{ range .CommonLabels.SortedPairs}}{{if $first}}{{$first = false}}{{else}}{{` | `}}{{end}}{{ .Value }}{{end }}
    {{- end }}
    {{ define "slack.body"}}
    {{ range .Alerts -}}
    {{ .Annotations.summary }}
    {{ end }}
    {{ end}}
